%fullWidthCenter {
  display: flex;
  height: 100vh;
  width: 100vw;
  place-items: center;
  place-content: center;
}

.root {
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  & > * {
    margin-top: 7%;
  }
}

.floater {
  margin-top: 13%;
  flex-grow: 0;
}

.triangles {
  height: 15.3em;
  width: 100%;

  img,
  svg {
    box-sizing: border-box;
    object-fit: cover;
    border-bottom: 0.5em solid rgba(128, 128, 128, 0.404);
  }
}

.regenerate {
  align-self: flex-end;
  display: flex;
  place-items: center;
  place-content: center;
  height: 2.5em;
  width: 2.5em;
  padding: 0.1em;
  transition: all 0.1s;

  :hover {
    transform: scale(1.1) rotate(5deg);
  }

  :active {
    transform: scale(1.1) rotate(-5deg);
  }

  * {
    height: inherit;
    width: inherit;
    border: none;
    object-fit: none;
    box-sizing: unset;
    transition: all 0.1s;
  }
}

.trianglesOverlay {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  & > * {
    margin: 2em;
  }
}

.background {
  width: 100%;
  margin: 0;
  padding: 0;

  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  // color: #ffbf00;
  color: hsl(240, 100%, 20%);
  font-size: 8em;
  font-family: "B612", Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

  span {
    color: hsl(0, 100%, 30%);
    font-family: "IBM Plex Serif";
  }
}
